<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmakoszApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmakoszApp.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @if (ViewData["HideNav"] == null || !(bool)ViewData["HideNav"])
    {
        <header>
            <nav class="custom-navbar">
                <div class="container-fluid navbar-container px-3">

                    <div class="nav-left">
                        <a href="/Home/Index" class="nav-link">galeria</a>
                        <a href="/Home/Contact" class="nav-link">kontakt</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Recipe/Favorites" class="nav-link">ulubione</a>
                        }
                    </div>

                    <div class="nav-center">
                        <a href="/Home/Index" class="navbar-brand-text">smakosz</a>
                    </div>

                    <div class="nav-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Recipe/Add" class="nav-link">dodaj przepis</a>
                            <a href="/Recipe/Edit" class="nav-link">edytuj przepis</a>
                            <div class="dropdown">
                                <a href="#" class="nav-link fw-bold dropdown-toggle" id="userMenu" data-bs-toggle="dropdown">@User.Identity.Name</a>
                                <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu">
                                    <li><a class="dropdown-item" href="/Account/Settings">ustawienia konta</a></li>
                                    <li><a class="dropdown-item" href="/Account/Logout">wyloguj</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="/Account/Index" class="nav-link">zaloguj się</a>
                            <a href="/Account/Index" class="nav-link">zarejestruj się</a>
                        }
                    </div>
                </div>
            </nav>
        </header>
    }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - SmakoszApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
